img {
    height: 200px;
}

body {
    display: flex;
    justify-content: center;
}

.bulbs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.img {
    padding: 10px;
}

.img img {
    width: 200px;
    height: 250px;
}

.btns {
    display: flex;
    /* justify-content: space-between; */
}

.on,
.off {
    border: 2px solid rgb(75, 46, 46);
    width: 50px;
    color: white;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.on {
    background-color: rgb(223, 146, 31);
}

.off {
    background-color: rgb(34, 173, 52);
}

.on:hover,
.off:hover {
    background-color: rgb(93, 112, 112);
}

@media only screen and (max-width:920px) {
    .bulbs {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width:670px) {
    .bulbs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:450px) {
    .bulbs {
        grid-template-columns: repeat(1, 1fr);
    }
}